{% extends "base.html" %}
{% block content %}
    <table class="table table-success">
        <thead>
            <tr>
                <th>name</th>
                <th>family</th>
                <th>mellinumber</th>
                <th>address</th>
                <th>birthday</th>
                <th>Delete</th>
                <th>update</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.family}}</td>
                <td>{{student.mellinumber}}</td>
                <td>{{student.address}}</td>
                <td>{{student.birthday}}</td>
                <td><a class="btn btn-danger"  href="{% url 'delete' student.id %}">Delete</a></td>
                <td><a class="btn btn-info"  href="{% url 'update' student.id %}">update</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}