{% extends 'base.html' %}
    <style>
        .main{
            background-color: cornflowerblue;
        }
    </style>
{% block content %}  
    <div class="main">
        <table class="table table-success table-bordered">  
            <thead class="table-secondary">
                <tr>
                    <th scope="col">name</th>
                
                </tr> 
            
            </thead>
            <tbody class="table-success">
                <div class="card">
                    {% for student in student %}
                        <tr scope="row">
                            <td>
                                <a  class= "card-body" href="{% url 'details' student.id  %}"><h3>{{ student.name }}</h3></a> 
                            </td>
                        
                
                        </tr>  
                    </div> 
                    {% endfor %}
                </tr>
            </tbody>
                
        
        </table>
    </div>
{% endblock %}
